body.pro-dashboard-body {
	background-color: #e1e6eb;
}

.content-from-webflow {
	min-height: 100%;
}

.pro-table-row {
	white-space: nowrap;
}

.pro-table-row:nth-child(even) {
 	background-color: #f0f5f8;
}

.pro-table-row:nth-child(even):hover  {
 	background-color: #dbe3eb;
}

.pro-table-row:nth-child(even).is-selected  {
 	background-color: #304359;
 	color: #fff;
}

.pro-table-row:nth-child(even).is-highlighted  {
 	background-color: rgba(0, 128, 253, 0.24);
}

.pro-table-row:nth-child(even).is-your-own  {
    background-color: #fff6cd;
}

.pro-table-row__right-actions-holder {
	opacity: 0;
}

.pro-table-row:hover .pro-table-row__right-actions-holder {
	opacity: 1;
}

.pro-table-header {
    white-space: nowrap;
}

.pro-table-purchase-action-wrapper {
	margin-top: -2px;
	padding-top: 2px;
	margin-bottom: -3px;
	padding-bottom: 3px;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

[animation-spin="true"] {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 2000;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 2000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.initial-load-overlay {
    display: block;
}

.initial-load-overlay.is-hidden {
    display: none;
}

.pro-your-own-tag__wrapper {
    display: inline-block;
}

.pro-progress-bar__wrapper {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 5px;
    background-color: rgba(29, 75, 128, .18);
}

.pro-progress-bar__inner-bar {
    position: relative;
    width: 0%;
    height: 100%;
    background-color: rgba(42, 58, 76, .31);
}

.pro-progress-bar__inner-bar.is-full {
    width: 100%;
    -webkit-transition: width 10000ms linear;
    transition: width 10000ms linear;
}