body {
  min-height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  color: #304359;
  font-size: 14px;
  line-height: 1.33em;
}

h1 {
  margin-top: 20px;
  margin-bottom: 16px;
  font-size: 36px;
  line-height: 38px;
  font-weight: 600;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #2a3a4c;
  font-size: 32px;
  line-height: 36px;
  font-weight: 400;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 23px;
  line-height: 1.33em;
  font-weight: 600;
}

h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #2a3a4c;
  font-size: 16px;
  line-height: 1.33em;
  font-weight: 600;
  text-transform: uppercase;
}

a {
  color: #1e90ff;
  text-decoration: none;
}

.bem-text-link {
  color: #1e90ff;
  font-weight: 600;
  cursor: pointer;
}

.bem-text-link:hover {
  color: #23527c;
}

.bem-text-link.is-white {
  color: #fff;
  font-weight: 600;
}

.reusable-components-and-styles-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 45px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.bem-button {
  display: inline-block;
  min-width: 100px;
  padding: 9px 18px 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #1e90ff;
  box-shadow: 0 0 0 0 rgba(83, 90, 101, .57);
  -webkit-transition: box-shadow 300ms ease, background-color 300ms ease, border 300ms ease, color 300ms ease;
  transition: box-shadow 300ms ease, background-color 300ms ease, border 300ms ease, color 300ms ease;
  color: #fff;
  line-height: 1.43em;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

.bem-button:hover {
  background-color: #2b96ff;
  box-shadow: none;
}

.bem-button:active {
  background-color: #086dce;
  box-shadow: 0 0 0 0 rgba(83, 90, 101, .57);
}

.bem-button.is-secondary {
  border: 1px solid #1e90ff;
  background-color: transparent;
  color: #1e90ff;
}

.bem-button.is-secondary:hover {
  background-color: #f1f8ff;
}

.bem-button.is-secondary:active {
  border-color: #086dce;
  background-color: #eef7ff;
  color: #086dce;
}

.bem-button.is-grayed-out {
  background-color: #9acdff;
  cursor: default;
}

.bem-button.is-grayed-out:hover {
  box-shadow: none;
}

.bem-button.is-without-border {
  min-width: 70px;
  background-color: rgba(30, 144, 255, 0);
  color: #1e90ff;
  font-weight: 600;
  text-transform: none;
}

.bem-button.is-without-border:hover {
  color: #086dce;
}

.bem-button.is-without-border:active {
  background-color: #f2f5f8;
}

.bem-button.is-without-border.for-modal-cancel {
  margin-left: 10px;
  text-transform: uppercase;
}

.bem-button.is-without-border.is-uppercase {
  font-size: 16px;
  text-transform: uppercase;
}

.bem-button.pro-button-in-offers-form {
  min-width: 10px;
  padding: 0px 5px;
  line-height: 21px;
}

.bem-button.pro-button-in-your-own-cancel-prompt {
  min-width: 10px;
  padding: 0px 5px;
  line-height: 1.33em;
}

.bem-button.pro-button-in-your-own-cancel-prompt.is-secondary {
  background-color: #fff;
}

.bem-button.pro-button-in-row-confirmation {
  min-width: 10px;
  padding: 0px 5px;
  line-height: 1.33em;
}

.body-wrapper {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  overflow: auto;
}

.body-wrapper.is-light-gray {
  background-color: #eaf1f7;
}

.page-wrapper {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  overflow: auto;
  margin-right: 0px;
  margin-left: 250px;
}

.global-header {
  min-height: 20px;
  padding: 28px 42px 29px 29px;
}

.main-content {
  min-height: 300px;
}

.main-navbar__tab-button {
  display: block;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 27px;
  border-left: 4px solid transparent;
  color: hsla(0, 0%, 100%, .87);
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.main-navbar__tab-button:hover {
  background-color: rgba(95, 112, 133, .19);
}

.main-navbar__tab-button.is-current {
  border-left-color: #1e90ff;
  color: #fff;
  font-weight: 700;
}

.main-navbar__tab-button.is-hidden-for-future {
  display: none;
}

.main-nav__list {
  display: block;
}

.secondary-navbar__buttons {
  display: block;
  padding-top: 0px;
  padding-bottom: 16px;
}

.secondary-navbar__tab-button {
  display: block;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 61px;
  color: #a8bec9;
  line-height: 1.33em;
  cursor: pointer;
}

.secondary-navbar__tab-button:hover {
  border-bottom-color: rgba(114, 163, 63, 0);
  color: #9acdff;
}

.component-preview-wrapper.is-for-modal {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  overflow: auto;
  padding-top: 18vh;
  padding-bottom: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(70, 76, 85, .57);
  text-align: center;
}

.secondary-nav {
  overflow: hidden;
  max-height: 700px;
  opacity: 1;
  -webkit-transition: max-height 2500ms ease, opacity 500ms ease;
  transition: max-height 2500ms ease, opacity 500ms ease;
}

.secondary-nav.is-hidden {
  max-height: 0px;
  opacity: 0;
  -webkit-transition-duration: 600ms;
  transition-duration: 600ms;
}

.initial-load-overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1000;
  display: none;
  background-color: #fff;
}

.font-icon {
  position: relative;
  display: inline-block;
  font-family: 'Material design iconic font', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.font-icon.in-main-tabs {
  margin-right: 7px;
  font-size: 16px;
}

.font-icon.for-checkbox-check {
  width: 100%;
  font-size: 16px;
  text-align: center;
}

.font-icon.for-caret-in-menu-button {
  top: 1px;
  margin-right: -6px;
  padding-right: 6px;
  padding-left: 6px;
  font-size: 17px;
  line-height: 10px;
}

.font-icon.modal-window__fonticon-close-icon {
  font-size: 18px;
  line-height: 24px;
}

.font-icon.pro-table-action-chart-icon {
  padding-right: 4px;
}

.global-header__logo {
  width: 185px;
  height: 38px;
  float: left;
  background-image: url('../images/logo.svg');
  background-position: 0px 0px;
  background-size: 175px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.global-header__logo:hover {
  opacity: 0.77;
}

.top-header__login-info {
  float: right;
  color: #fff;
}

.global-header__logout-button {
  display: inline-block;
  margin-left: 5px;
  font-weight: 600;
}

.modal-wrapper {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 10;
  overflow: auto;
  padding-top: 18vh;
  padding-bottom: 30px;
  background-color: rgba(70, 76, 85, .57);
  text-align: center;
}

.modal-wrapper.is-hidden {
  display: none;
  text-align: center;
}

.modal-wrapper__inner {
  display: inline-block;
  max-width: 650px;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

.loadable-modal {
  position: relative;
}

.loadable-modal.is-hidden {
  display: none;
}

.modal-window {
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 14px 40px -9px rgba(41, 45, 49, .39);
}

.modal-window__content {
  max-width: 500px;
  padding: 25px;
}

.modal-window__content.is-wider {
  position: relative;
  max-width: 620px;
}

.modal-window__header {
  padding-bottom: 8px;
}

.modal-window__title {
  margin-top: -1px;
  font-size: 18px;
}

.modal-window__body {
  padding-top: 7px;
  padding-bottom: 33px;
}

.modal-window__footer {
  padding-top: 19px;
  border-top: 1px solid #e5e5e5;
}

.modal-window__footer-buttons {
  float: right;
}

.modal-window__footer-buttons.on-left {
  float: left;
}

.bem-card {
  margin-bottom: 16px;
  border: 1px solid #d7dce2;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 3px 7px 0 rgba(42, 58, 76, .06);
}

.bem-select-dropdown {
  z-index: auto;
  margin-right: 0px;
  margin-left: 0px;
}

.bem-select-dropdown.is-full-width {
  display: block;
}

.bem-select-dropdown.in-transfer-calculator {
  float: left;
}

.bem-select-dropdown__button {
  height: 39px;
  padding: 9px 40px 7px 12px;
  border: 1px solid #a4acb3;
  border-radius: 5px;
  background-color: #fff;
  -webkit-transition: background-color 500ms ease, border-color 500ms ease;
  transition: background-color 500ms ease, border-color 500ms ease;
  color: #304359;
}

.bem-select-dropdown__button:hover {
  border-color: #788088;
}

.bem-select-dropdown__button.is-full-width {
  display: block;
}

.bem-select-dropdown__button-handle {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 32px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.bem-select-dropdown__chosen-item.is-hidden {
  display: none;
}

.bem-select-dropdown__list {
  color: #304359;
}

.bem-select-dropdown__list.w--open {
  z-index: 5;
  overflow: hidden;
  margin-top: -1px;
  border: 1px solid #d4dae0;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 9px 25px -5px rgba(42, 58, 76, .51);
}

.bem-select-dropdown__list.for-currency-choice.w--open {
  width: 300px;
}

.bem-select-dropdown__list.global-header__bem-select-dropdown__list--in-user-dropdown-list.w--open {
  right: 0px;
  min-width: 180px;
}

.bem-select-dropdown__choice {
  position: relative;
  margin-bottom: -1px;
  padding: 8px 17px 10px;
  cursor: pointer;
}

.bem-select-dropdown__choice:hover {
  background-color: #086dce;
  color: #fff;
}

.bem-select-dropdown__choice:active {
  background-color: #235dbb;
}

.bem-select-dropdown__choice.with-horizontal-divider {
  border-bottom: 1px solid #e5e5e5;
}

.bem-select-dropdown__choice.with-icon {
  padding-left: 45px;
  color: #304359;
}

.bem-text-input {
  height: 39px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding: 6px 11px 7px 13px;
  border: 1px solid #a4acb3;
  border-radius: 5px;
  -webkit-transition: border-color 200ms ease;
  transition: border-color 200ms ease;
}

.bem-text-input:hover {
  border-color: #788088;
}

.bem-text-input:focus {
  border-color: #0081ff;
}

.bem-text-input.for-amount-in-exchange-calculator {
  display: inline-block;
  width: 143px;
  margin-right: 9px;
  float: left;
  -webkit-transition: box-shadow 200ms ease;
  transition: box-shadow 200ms ease;
}

.bem-text-input.for-date-picker {
  display: inline-block;
  max-width: 138px;
  padding-right: 32px;
}

.bem-text-input.pro-input-in-offers-form {
  display: inline-block;
  height: auto;
  padding: 1px 5px;
}

.select-dropdown__choice-header {
  padding-top: 2px;
  padding-bottom: 1px;
  font-weight: 600;
}

.select-dropdown__choice-subtext {
  padding-bottom: 2px;
}

.bem-checkbox {
  position: relative;
  display: block;
  padding-left: 19px;
  cursor: pointer;
}

.bem-checkbox__checkmark {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 18px;
  height: 18px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border: 1px solid #a4acb3;
  border-radius: 5px;
  background-color: #fff;
}

.bem-checkbox__checkmark:hover {
  border-color: #72a33f;
}

.bem-checkbox__checkmark.is-unchecked {
  color: rgba(75, 86, 98, 0);
}

.bem-checkbox__checkmark-icon {
  text-align: center;
}

.bem-checkbox__label {
  padding-left: 6px;
  text-align: left;
}

.bank-account-choice {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.bank-account-logo {
  width: 20px;
  height: 20px;
  background-image: url('../images/banks-small-icons.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

.bank-account-logo.for-pko-bp {
  background-position: 0px -324px;
}

.bank-account-choice__labels {
  margin-left: 8px;
}

.bank-account-choice__subtext {
  color: #a1a1a1;
}

.bank-account-choice__header {
  padding-bottom: 2px;
  padding-left: 16px;
  font-weight: 600;
}

.bank-account-choice__add-new {
  padding: 10px 15px 12px;
  border-top: 1px none #e6e6e6;
  background-color: #f8f8f8;
}

.bank-account-choice__empty-state {
  padding-right: 17px;
  padding-left: 17px;
  color: #969696;
}

.bank-account-choice__empty-state-text {
  margin-bottom: 12px;
  font-size: 11px;
  line-height: 1.33em;
}

.bank-account-dropdown-list-wrapper {
  overflow: auto;
  max-height: 330px;
}

.bank-account-choice__section {
  margin-bottom: -1px;
  padding-top: 9px;
  border-bottom: 1px solid #e5e5e5;
}

.bank-account-chosen-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -2px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.bank-account-chosen-item__text {
  margin-left: 5px;
}

.bem-datepicker {
  position: relative;
  display: inline-block;
}

.bem-date-picker__calendar-icon {
  position: absolute;
  top: 11px;
  right: 8px;
  bottom: 0px;
  display: inline-block;
  width: 22px;
  font-family: 'Material design iconic font', sans-serif;
  font-size: 20px;
  text-align: center;
}

.bem-select-dropdown__button-handle-icon {
  padding-top: 9px;
  font-family: 'Material design iconic font', sans-serif;
  color: #d5dbe1;
  font-size: 24px;
  text-align: center;
}

.component-preview-wrapper__modal-inner {
  display: inline-block;
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

.sidebar {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  overflow: auto;
  width: 250px;
  background-color: #2a3a4c;
  -webkit-transition: -webkit-transform 800ms ease;
  transition: -webkit-transform 800ms ease;
  transition: transform 800ms ease;
  transition: transform 800ms ease, -webkit-transform 800ms ease;
  color: #fff;
}

.sidebar-overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(42, 58, 76, .37);
}

.sidebar-overlay.is-hidden {
  display: none;
}

.top-header {
  padding: 21px 23px 17px 25px;
  background-color: #1e90ff;
  color: #fff;
}

.font-icon-walutomat {
  display: inline-block;
  font-family: Icons_1476346517, sans-serif;
  font-size: 6px;
}

.font-icon-walutomat.for-caret-in-menu {
  position: relative;
  top: -2px;
  margin-left: 4px;
  -webkit-transition: -webkit-transform 350ms ease;
  transition: -webkit-transform 350ms ease;
  transition: transform 350ms ease;
  transition: transform 350ms ease, -webkit-transform 350ms ease;
  line-height: 10px;
}

.font-icon-walutomat.for-caret-in-faq-question {
  position: relative;
  margin-left: 5px;
}

.font-icon-walutomat.for-close-icon-in-promo-tooltip {
  color: #2a3a4c;
  font-size: 10px;
  line-height: 14px;
}

.top-header__language-switcher {
  position: relative;
  top: -4px;
  margin-right: 14px;
  float: right;
}

.top-header__current-subpage-name {
  font-size: 16px;
}

.sidebar-footer {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding-bottom: 22px;
}

.sidebar-footer__copyright-text {
  padding-top: 1px;
  padding-bottom: 2px;
  padding-left: 31px;
  color: #667586;
}

.sidebar-footer__help-section {
  padding-top: 2px;
  padding-bottom: 1px;
  padding-left: 29px;
  color: #fff;
  cursor: pointer;
}

.sidebar-footer__my-id {
  padding-top: 1px;
  padding-bottom: 2px;
  padding-left: 29px;
  color: #fff;
}

.sidebar-inner {
  position: relative;
  min-height: 100%;
  padding-bottom: 106px;
}

.sidebar-footer__help-link {
  padding-left: 46px;
  color: #a8bec9;
  font-size: 14px;
  cursor: pointer;
}

.sidebar-footer__help-link:hover {
  color: #9acdff;
}

.bem-card-row {
  position: relative;
  padding: 17px 32px;
  border-bottom: 1px solid #eaf0f5;
}

.bem-card-row.for-exchange-calculator {
  padding-top: 24px;
  padding-bottom: 26px;
}

.bem-card-row.for-exchange-calculator.is-at-the-top {
  border-bottom-color: #d5dde4;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #f7fafd;
}

.bem-card-row.in-modal {
  padding: 13px 0px;
  border-top: 1px solid #eaf0f5;
  border-bottom-color: rgba(234, 240, 245, 0);
}

.card-row__left-column {
  width: 30%;
  max-width: 210px;
  padding-right: 10px;
  float: left;
}

.card-row__right-column {
  width: 70%;
  float: left;
}

.card-row__left-label {
  font-weight: 600;
}

.bem-radio {
  margin-top: -20px;
}

.bem-radio__row {
  position: relative;
  margin-top: 20px;
  margin-bottom: 0px;
  padding-left: 28px;
  cursor: pointer;
}

.bem-radio__icon-holder {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 28px;
  margin-left: -2px;
}

.bem-radio__icon {
  width: 18px;
  height: 18px;
  border: 1px solid #788088;
  border-radius: 50%;
}

.bem-radio__icon-inside {
  width: 10px;
  height: 10px;
  margin-top: 3px;
  margin-left: 3px;
  border-radius: 50%;
  background-color: #1e90ff;
}

.bem-radio__icon-inside.is-hidden {
  display: none;
}

.bem-radio__label-text {
  font-weight: 600;
}

.bem-radio__label-text.is-larger {
  font-size: 16px;
}

.bem-faq-item {
  margin-bottom: 5px;
}

.bem-faq-item__question {
  display: inline-block;
  color: #1e90ff;
  font-weight: 600;
  cursor: pointer;
}

.bem-faq-item__answer.is-hidden {
  display: none;
}

.wallet-state-widget__row {
  padding-top: 11px;
  padding-bottom: 11px;
}

.wallet-state-widget__title-icon-holder {
  width: 16.66%;
  padding-top: 7px;
  float: left;
}

.wallet-state-widget__title-text {
  text-align: center;
  text-transform: uppercase;
}

.wallet-state-widget__divider {
  width: 1px;
  height: 43px;
  margin-top: -5px;
  margin-bottom: -18px;
  margin-left: -1px;
  float: left;
  background-color: #d7dce2;
}

.wallet-state-widget__amount-box {
  width: 16.66%;
  padding-right: 8px;
  padding-left: 8px;
  float: left;
  text-align: center;
}

.wallet-state-widget__amount-box.is-grayed-out {
  opacity: 0.22;
}

.wallet-state-widget__amount-big {
  font-size: 18px;
}

.wallet-state-widget__amount-small {
  font-size: 12px;
}

.wallet-state-widget__amount-currency {
  font-size: 15px;
}

.bem-select-dropdown__wrapper-for-chosen {
  position: relative;
  padding-left: 28px;
}

.currency-icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-image: url('../images/currencies-flags.png');
  background-position: -248px -48px;
}

.currency-icon.is-pln {
  border: 1px solid #d7dce2;
  background-position: -123px -48px;
  background-repeat: no-repeat;
}

.currency-icon.is-usd {
  background-position: -208px 33px;
}

.currency-icon.is-gbp {
  background-position: -200px -150px;
  background-size: 100px;
}

.currency-icon.is-chf {
  background-position: -200px -26px;
  background-size: 100px;
}

.dropdown-currency-chosen__icon {
  position: absolute;
  left: -4px;
  top: -3px;
  bottom: 0px;
}

.bem-faq-item__ordered-list {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

.bem-faq-item__ordered-list.is-with-max-width {
  max-width: 510px;
}

.bem-context-menu-item {
  margin-bottom: -1px;
  border-bottom: 1px solid #d7dce2;
  color: #788088;
}

.bem-context-menu-item:hover {
  color: #2b96ff;
}

.bem-context-menu.w--open {
  z-index: 2;
  border: 1px solid #a8bec9;
  border-radius: 5px;
  background-color: #fff;
  color: #788088;
}

.promo-tooltip {
  position: relative;
  bottom: 8px;
  overflow: hidden;
  max-height: 130px;
  opacity: 1;
  -webkit-transform: translate(0px, 0px) scale(1);
  -ms-transform: translate(0px, 0px) scale(1);
  transform: translate(0px, 0px) scale(1);
  -webkit-transition: opacity 1000ms ease, max-height 800ms ease, -webkit-transform 1000ms ease;
  transition: opacity 1000ms ease, max-height 800ms ease, -webkit-transform 1000ms ease;
  transition: opacity 1000ms ease, transform 1000ms ease, max-height 800ms ease;
  transition: opacity 1000ms ease, transform 1000ms ease, max-height 800ms ease, -webkit-transform 1000ms ease;
}

.promo-tooltip.is-hidden {
  max-height: 0px;
  opacity: 0;
  -webkit-transform: translate(0px, -21px) scale(0.6);
  -ms-transform: translate(0px, -21px) scale(0.6);
  transform: translate(0px, -21px) scale(0.6);
  -webkit-transition-duration: 1000ms, 800ms, 1000ms;
  transition-duration: 1000ms, 800ms, 1000ms;
  -webkit-transition-timing-function: ease, ease, cubic-bezier(.55, .055, .675, .19);
  transition-timing-function: ease, ease, cubic-bezier(.55, .055, .675, .19);
}

.promo-tooltip__box {
  position: relative;
  padding: 3px 35px 4px 7px;
  border-radius: 5px;
  background-color: #ff9700;
}

.promo-tooltip__text {
  font-weight: 400;
}

.promo-tooltip__header {
  display: inline-block;
  font-weight: 700;
}

.promo-tooltip__triangle {
  position: absolute;
  left: 0px;
  top: -18px;
  right: 0px;
  display: block;
  width: 20px;
  height: 20px;
  margin-right: auto;
  margin-left: auto;
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent #ff9700;
}

.promo-tooltip__inner {
  padding: 7px 30px 7px 31px;
}

.promo-tooltip__close-button {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 20px;
  height: 20px;
  padding-top: 1px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}

.promo-tooltip__close-button:hover {
  background-color: hsla(0, 0%, 100%, .19);
}

.promo-tooltip__close-button:active {
  background-color: #cf7b00;
}

.bem-tooltip-icon {
  width: 22px;
  height: 22px;
  cursor: default;
}

.bem-tooltip-icon__inner {
  width: 21px;
  height: 21px;
  border: 1px solid #788088;
  border-radius: 50%;
  color: #788088;
  line-height: 19px;
  text-align: center;
}

.card-row__right-column-input-wrapper {
  position: relative;
  max-width: 410px;
  padding-right: 30px;
}

.wallet-empty-state__image {
  position: absolute;
  left: -7px;
  top: 3px;
  bottom: 0px;
  display: block;
  width: 139px;
  margin-right: auto;
  margin-left: auto;
}

.big-empty-state__header {
  font-size: 34px;
  line-height: 1.25em;
}

.wallet-intro__subtext {
  padding-top: 12px;
  font-size: 16px;
  line-height: 1.33em;
}

.big-empty-state__button-holder {
  padding-top: 12px;
}

.bem-underlined-link {
  text-decoration: underline;
  cursor: pointer;
}

.exchange-via-transfer__price-elements {
  width: 100%;
  float: left;
}

.currency-choice {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.currency-choice__sublabel {
  color: #a1a1a1;
}

.bem-select-dropdown__choice-icon {
  position: absolute;
  left: 11px;
  top: 0px;
  bottom: 0px;
  width: 32px;
  height: 27px;
  margin-top: auto;
  margin-bottom: auto;
}

.wallet-empty-state {
  position: relative;
  padding-left: 162px;
}

.bem-dropdown-button__semi-bold-label {
  font-weight: 600;
}

.modal-window__close-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  color: #788088;
  text-align: center;
  cursor: pointer;
}

.modal-window__close-icon:hover {
  background-color: #d7dce2;
}

.modal-window__close-icon:active {
  background-color: #304359;
  color: #d3dce7;
}

.wallet-faq {
  margin-top: 21px;
}

.bem-faq-item__bold-subheader {
  margin-top: 9px;
  font-weight: 600;
}

.global-header__user-dropdown-button {
  margin-top: -3px;
  margin-right: 12px;
  padding: 3px 17px 3px 6px;
  border-right: 1px solid #fff;
  color: #fff;
}

.global-header__user-dropdown-button:hover {
  opacity: 0.92;
}

.form-block-css-reset {
  margin-bottom: 0px;
}

.bem-spinner {
  width: 30px;
  height: 30px;
  border-style: solid;
  border-width: 3px;
  border-color: #304359 #b7c3ce #b7c3ce;
  border-radius: 50%;
}

.initial-load-overlay__spinner {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 40px;
  display: block;
  width: 30px;
  height: 30px;
  margin: auto;
}

.wallet-payout__pay-all {
  padding-top: 4px;
  font-size: 14px;
  line-height: 1.33em;
}

.promo-tooltip__inner-link {
  text-decoration: underline;
}

.accept-checkboxes {
  padding-bottom: 11px;
}

.accept-checkboxes__checkbox-item {
  margin-bottom: 7px;
  padding-top: 2px;
}

.accept-checkboxes__checkbox-holder.is-aligned-right {
  float: right;
}

.accept-checkboxes__smaller-text-below-checkbox {
  padding-top: 6px;
  padding-left: 6px;
  font-size: 12px;
  line-height: 1.32em;
  font-weight: 400;
}

.via-transfer-swap-button {
  position: relative;
  width: 29px;
  padding: 9px 3px;
  float: left;
  text-align: center;
}

.via-transfer-swap-button__swap-icon {
  position: absolute;
  left: 2px;
  top: 7px;
  display: block;
  width: 24px;
  height: 24px;
  margin-right: auto;
  margin-left: auto;
  border: 1px none #fff;
  border-radius: 5px;
  background-color: #f7fafd;
  background-image: url('../images/swap-icon.svg');
  background-position: 50% 50%;
  background-size: 18px;
  background-repeat: no-repeat;
  opacity: 1;
  -webkit-transition: opacity 200ms ease, -webkit-transform 300ms ease;
  transition: opacity 200ms ease, -webkit-transform 300ms ease;
  transition: transform 300ms ease, opacity 200ms ease;
  transition: transform 300ms ease, opacity 200ms ease, -webkit-transform 300ms ease;
}

.via-transfer-swap-button__swap-icon:hover {
  background-color: #e6eff8;
}

.via-transfer-swap-button__swap-icon:active {
  background-color: #daebfc;
}

.via-transfer-swap-button__swap-icon.is-not-visible {
  opacity: 0;
}

.exchange-via-transfer__calculator-direction-dropdowns {
  float: left;
}

.pro-topbar {
  background-color: #fff;
}

.pro-below-topbar {
  min-height: 600px;
}

.pro-main-content {
  position: relative;
  padding-left: 339px;
}

.pro-left-sidebar {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 340px;
  height: 100%;
  padding-left: 8px;
}

.pro-widget-wrapper {
  padding-top: 8px;
}

.pro-card {
  min-height: 10px;
  border: 1px solid #c6cbd1;
  border-radius: 5px;
  background-color: #fff;
}

.pro-body {
  background-color: #e1e6eb;
}

.pro-card-header {
  min-height: 10px;
  padding: 4px 8px;
  border-bottom: 1px solid #eaf0f5;
}

.pro-card-header__left-side {
  float: left;
}

.pro-card-header__right-side {
  min-height: 0px;
  float: right;
}

.pro-card-header__title {
  font-weight: 600;
}

.pro-card-content {
  min-height: 10px;
  padding-bottom: 5px;
}

.pro-topbar__logo {
  width: 200px;
  height: 36px;
  float: left;
  background-image: url('../images/logo_black.svg');
  background-position: 6px 50%;
  background-size: 63%;
  background-repeat: no-repeat;
}

.pro-topbar__logo-holder {
  float: left;
}

.pro-topbar__right-side {
  min-height: 0px;
  padding-right: 12px;
  float: right;
}

.pro-table-header {
  height: 20px;
  margin-top: -1px;
  border-top: 1px solid #cedbe7;
  border-bottom: 1px solid #cedbe7;
  background-color: #f1f5f8;
}

.pro-table-row {
  position: relative;
  height: 25px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.pro-table-row:hover {
  background-color: #dbe3eb;
}

.pro-table-row.is-selected {
  background-color: #304359;
  color: #fff;
}

.pro-table-row.is-even-row {
  background-color: #f0f5f8;
}

.pro-table-row.is-even-row:hover {
  background-color: #dbe3eb;
}

.pro-table-row.is-even-row.is-clickable.is-selected {
  background-color: #304359;
}

.pro-table-row.is-your-own {
  background-color: #fff6cd;
}

.pro-table-row.is-clickable {
  cursor: pointer;
}

.pro-table-row.is-highlighted {
  background-color: rgba(0, 128, 253, .24);
}

.pro-table-cell {
  padding-right: 8px;
  padding-left: 8px;
  float: left;
}

.pro-table-cell.for-wallet-state__currency {
  width: 19%;
}

.pro-table-cell.for-wallet-state__available {
  width: 27%;
  text-align: right;
}

.pro-table-cell.for-wallet-state__on-market {
  width: 27%;
  text-align: right;
}

.pro-table-cell.for-wallet-state__total {
  width: 27%;
  text-align: right;
}

.pro-table-cell.for-rates__pair {
  width: 24%;
}

.pro-table-cell.for-rates__avg {
  width: 19%;
  text-align: right;
}

.pro-table-cell.for-rates__we-sell {
  width: 19%;
  text-align: right;
}

.pro-table-cell.for-rates__we-buy {
  width: 19%;
  text-align: right;
}

.pro-table-cell.for-rates__spread {
  width: 19%;
  text-align: right;
}

.pro-table-cell.for-offers__rate {
  width: 15%;
}

.pro-table-cell.for-offers__amount {
  width: 15%;
}

.pro-table-cell.for-offers__amount-accumulated {
  width: 15%;
}

.pro-table-cell.for-offers__offers-count {
  width: 15%;
}

.pro-table-cell.for-offers__time {
  width: 15%;
}

.pro-table-cell.for-last-transactions__time {
  width: 20%;
}

.pro-table-cell.for-last-transactions__rate {
  width: 55%;
}

.pro-table-cell.for-last-transactions__amount {
  width: 25%;
}

.pro-table-cell.for-my-offers__currency {
  width: 12%;
}

.pro-table-cell.for-my-offers__rate {
  width: 17%;
}

.pro-table-cell.for-my-offers__amount {
  width: 15%;
}

.pro-table-cell.for-my-offers__offers-count {
  width: 19%;
}

.pro-table-cell.for-my-offers__amount-accumulated {
  width: 22%;
}

.pro-table-cell.for-my-offers__time {
  width: 15%;
}

.pro-table-header-label {
  opacity: 0.81;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
}

.pro-table-cell__text.is-blue-link {
  color: #1e90ff;
  font-weight: 600;
  cursor: pointer;
}

.pro-main-column__left-side {
  width: 50%;
  padding-right: 4px;
  padding-left: 8px;
  float: left;
}

.pro-table-row__right-actions-holder {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  padding-top: 2px;
  padding-right: 2px;
  text-align: right;
}

.pro-table-action__button {
  display: inline-block;
  margin-left: 7px;
  padding: 1px 7px;
  border-radius: 4px;
  color: #1e90ff;
  font-weight: 600;
  cursor: pointer;
}

.pro-table-action__button:hover {
  background-color: #1e90ff;
  color: #fff;
}

.pro-table-action__button.is-hidden {
  display: none;
}

.pro-offer-form {
  position: relative;
  z-index: 1;
}

.pro-add-offer-row__form {
  margin-top: -1px;
  padding: 5px 7px;
  border-top: 1px solid #afcce7;
  border-bottom: 1px solid #abd1f6;
  background-color: #d7e7f6;
}

.pro-offer-form__rate-cell {
  width: 15%;
  padding-right: 7px;
  float: left;
}

.pro-offer-form__amount-cell {
  width: 15%;
  float: left;
}

.pro-offer-form__button-cell {
  padding-left: 6px;
  float: left;
}

.pro-offer-form__button-cell.is-hidden {
  display: none;
}

.pro-your-own-row-tag {
  display: inline-block;
  margin-top: 1px;
  padding-top: 0px;
  padding-right: 7px;
  padding-left: 7px;
  float: right;
  opacity: 0.46;
  font-weight: 600;
  text-transform: uppercase;
}

.pro-your-own-cancel-offer-button__holder {
  display: inline-block;
  padding-right: 4px;
  padding-left: 4px;
  float: left;
  border-radius: 4px;
  color: #bb1520;
  cursor: pointer;
}

.pro-your-own-cancel-offer-button__holder:hover {
  background-color: rgba(252, 36, 51, .16);
}

.pro-your-own-cancel-offer-button__holder.is-hidden {
  display: none;
}

.pro-main-column__right-side {
  width: 50%;
  padding-right: 8px;
  padding-left: 4px;
  float: left;
}

.pro-table-forex-divider {
  position: relative;
  z-index: 1;
  height: 0px;
  padding-left: 39px;
}

.pro-table-forex-divider__line {
  height: 1px;
  background-color: #90f;
}

.pro-table-forex-divider__text {
  position: absolute;
  left: 5px;
  top: -5px;
  color: #90f;
  font-size: 11px;
  line-height: 1em;
  text-transform: uppercase;
}

.pro-number-with-bar-chart {
  position: relative;
  padding-left: 60px;
}

.pro-number-with-bar-chart__text {
  position: absolute;
  left: 0px;
  width: 61px;
}

.pro-number-with-bar-chart__bar-wrapper {
  width: 100%;
  height: 17px;
  padding-top: 6px;
}

.pro-number-with-bar-chart__bar-inner {
  width: 50%;
  height: 8px;
  background-color: #d1dde6;
}

.pro-add-offer-row__prompt-button-holder {
  display: inline-block;
  padding-right: 7px;
}

.pro-add-offer-row__confirm-buttons {
  display: inline-block;
  padding-left: 8px;
}

.pro-add-offer-row__confirm-buttons.is-hidden {
  display: none;
}

.pro-your-own-cancel-offer-button__prompt-wrapper {
  float: left;
  background-color: #dbe3eb;
}

.pro-your-own-cancel-offer-button__prompt-wrapper.is-hidden {
  display: none;
}

.pro-your-own-cancel-offer-button__prompt-button-holder {
  display: inline-block;
  padding-right: 6px;
}

.pro-your-own-cancel-offer-button__wrapper {
  position: relative;
  display: inline-block;
  margin-top: 1px;
  margin-right: 4px;
  float: right;
  border-radius: 5px;
}

.pro-table-action__confirm-buttons {
  float: left;
}

.pro-table-action__confirm-buttons.is-hidden {
  display: none;
}

.pro-button-in-row-confirmation__holder {
  display: inline-block;
  padding-right: 6px;
}

.pro-topbar__right-side-button {
  padding-top: 8px;
  padding-bottom: 7px;
  color: #1e90ff;
  font-weight: 600;
  cursor: pointer;
}

.pro-topbar__right-side-button:hover {
  color: #2b96ff;
}

@media (max-width: 991px) {
  .page-wrapper {
    margin-left: 0px;
  }
  .sidebar {
    -webkit-transform: translate(-100%, 0px);
    -ms-transform: translate(-100%, 0px);
    transform: translate(-100%, 0px);
  }
  .wallet-state-widget__title-icon-holder {
    width: 33.33%;
  }
  .wallet-state-widget__amount-box {
    width: 33.33%;
    padding-top: 9px;
    padding-bottom: 9px;
  }
  .pro-main-content {
    padding-left: 0px;
  }
  .pro-left-sidebar {
    position: relative;
    width: 100%;
    padding-right: 8px;
  }
  .pro-main-column__left-side {
    width: 100%;
    float: none;
  }
  .pro-main-column__right-side {
    width: 100%;
    float: none;
  }
}

@media (max-width: 767px) {
  .bem-card-row {
    padding: 14px 16px;
  }
  .card-row__left-column {
    width: 100%;
    max-width: none;
    padding-right: 0px;
    padding-bottom: 12px;
  }
  .card-row__right-column {
    width: 100%;
  }
}

@media (max-width: 479px) {
  .wallet-empty-state__image {
    position: relative;
    left: 0px;
    top: 0px;
    margin-bottom: 29px;
  }
  .big-empty-state__header {
    font-size: 24px;
  }
  .wallet-empty-state {
    padding-left: 0px;
  }
}

@font-face {
  font-family: 'Material design iconic font';
  src: url('../fonts/Material-Design-Iconic-Font.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Icons_1476346517';
  src: url('../fonts/Icons_1476346517.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}